@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}
.navbar1{
  background-color: white !important;
  padding: 0.1rem 0;
}
.navbar1-logo{
    width: 194px;
    height: 56px;
}
.navbar1-logofocus:focus{
outline: 1px solid #00468b;

}
.navbar1-form{
position: relative;

}
.navbar1-searchbutton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    height: 90%;
    width: auto;
    padding: 5px 2px;
    border-radius: 2px; 
}
.navbar1-searchbutton:hover{
    /* background-color: #f5f6f7; */
    background-color: #f5f6f7;
}
.navbar1-searchbutton:active{
  background-color: #f5f6f7 !important;
}
.navbar1-input{
    border: 1px solid #6e6e6e;
    border-radius: 2px;
}
.navbar1-input:focus{
  outline: 1.5px solid #00468b;
  box-shadow: none;
  outline-offset: 0.15em;
  border:1px solid #6e6e6e;
}
.dropdown-toggle::after {
  display: none;
}
.navbar1-div:hover{
background-color: #f3f4f6;
}
.down{
  transition: 0.3s;
}
.navbar1-div:hover .down{
  transform: rotate(-180deg);
}
.navbar1-subdiv{
  height: 66px;
}
.navbar-signin{
  position: relative !important;
}
.navbar1-dropdownmenu{
  position: absolute !important;
  left: -190% !important;
  border: 1px solid #6e6e6e;
  border-radius: 5px;
  list-style: none;
}
.navbar-signin:hover .navbar1-dropdownmenu{
  display: block;
}
.navbar1-button1{
  border: none;
  background-color: #0063b8;
  border-radius: 3px;
}
.navbar1-cardtitle{
  color: #636363;
}
.navbar1-subtitle{
  color: #636363;
  font-weight: 400;
  font-size: 14px;
}
.navbar1-cardlist{
  list-style-type: disc;
}
.navbar1-cardlist li{
  font-size: 14px;
  color: #636363;
}
.navbar1-button1 a{
  font-size: 14px;
  text-decoration: none;
  color:#ffffff ;
}
.navbar1-button2{
  border: 1px solid #0063b8;
  border-radius: 3px;
  background-color: white;
}
.navbar1-button2 a{
  font-size: 14px;
  text-decoration: none;
  color:#0063b8 ;
}
.navbar-textelements{
  font-size: 14px;
  color: #636363;
}


/* navbar-2 start */

.navbar2-mainelementsdiv{
  z-index: 999;
}
.navbar2-mainelements{
  color: #636363;
  font-size: 14px;

}

.navbar2-mainelementsdiv:hover .down{
  transform: rotate(-180deg);
}
.navbar2-mainelementsdiv:hover{
background-color: #f5f6f7;
border-bottom: 2px solid #707070;
}
.navbar2-mainelementsdiv:hover .navbar2-mainelements{
  color: #636363;
}
.navbar2-productslist{
  display: none;
  position: absolute;
  margin-top: 2px;
  background-color: white;
  border: 1px solid #b8b8b8;
  list-style: none;
  padding-left: 0;
  width: 15em;
}
.navbar2-productslist li{
  font-size: 14px;
  color: #636363;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
.navbar2-productslist li:hover{
  background-color: #f5f6f7;
  cursor: pointer;
}
.navbar2-mainelementsdiv:hover .navbar2-productslist{
  display: block;
}
.navbar2-mainelementsdiv{
 position: relative;
}
.navbar2-gaminglist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-gaminglist li:hover{
  background-color: #e0e1e2;

}
.navbar2-gaminglist li{
  padding: 5%;
}
.navbar2-gaming:hover .navbar2-gaminglist{
  display: block;
}

.navbar2-laptoplist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-laptoplist li:hover{
  background-color: #e0e1e2;

}
.navbar2-laptoplist li{
  padding: 5%;
}
.navbar2-laptop:hover .navbar2-laptoplist{
  display: block;
}

.navbar2-desktoplist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-desktoplist li:hover{
  background-color: #e0e1e2;

}
.navbar2-desktoplist li{
  padding: 5%;
}
.navbar2-desktop:hover .navbar2-desktoplist{
  display: block;
}

.navbar2-monitorlist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-monitorlist li:hover{
  background-color: #e0e1e2;

}
.navbar2-monitorlist li{
  padding: 5%;
}
.navbar2-monitor:hover .navbar2-monitorlist{
  display: block;
}

.navbar2-accessorieslist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-accessorieslist li:hover{
  background-color: #e0e1e2;

}
.navbar2-accessorieslist li{
  padding: 5%;
}
.navbar2-accessories:hover .navbar2-accessorieslist{
  display: block;
}


.navbar2-solutionslist{
  display: none;
  position: absolute;
  margin-top: 2px;
  background-color: white;
  border: 1px solid #b8b8b8;
  list-style: none;
  padding-left: 0;
  width: 15em;
}
.navbar2-solutionslist li{
  font-size: 14px;
  color: #636363;
  padding: 5% !important;
  display: flex;
  justify-content: space-between;
}
.navbar2-solutionslist li:hover{
  background-color: #f5f6f7;
  cursor: pointer;
}
.navbar2-mainelementsdiv:hover .navbar2-solutionslist{
  display: block;
}
.navbar2-mainelementsdiv:hover .navbar2-solutionslist{
  display: block;
}
.navbar2-mainelementsdiv{
 position: relative;
}

.navbar2-CloudSolutionslist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  min-height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-CloudSolutionslist li:hover{
  background-color: #e0e1e2;

}
.navbar2-CloudSolutionslist li{
  padding: 5%;
}
.navbar2-CloudSolutions:hover .navbar2-CloudSolutionslist{
  display: block;
}

.navbar2-IndustrySolutionslist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  min-height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-IndustrySolutionslist li:hover{
  background-color: #e0e1e2;

}
.navbar2-IndustrySolutionslist li{
  padding: 5%;
}
.navbar2-IndustrySolutions:hover .navbar2-IndustrySolutionslist{
  display: block;
}

.navbar2-InfrastructureSolutionslist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  min-height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-InfrastructureSolutionslist li:hover{
  background-color: #e0e1e2;

}
.navbar2-InfrastructureSolutionslist li{
  padding: 5%;
}
.navbar2-InfrastructureSolutions:hover .navbar2-InfrastructureSolutionslist{
  display: block;
}

.navbar2-SmallBusinesslist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  min-height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-SmallBusinesslist li:hover{
  background-color: #e0e1e2;

}
.navbar2-SmallBusinesslist li{
  padding: 5%;
}
.navbar2-SmallBusiness:hover .navbar2-SmallBusinesslist{
  display: block;
}

.navbar2-WorkforceSolutionslist{
  position: absolute;
  top:0;
  left: 100%;
  background-color: #f5f6f7;
  border: 0.2px solid #a6a5a5;
  min-height: 100%;
  width: 100%;
padding: 0;
display: none;
}
.navbar2-WorkforceSolutionslist li:hover{
  background-color: #e0e1e2;

}
.navbar2-WorkforceSolutionslist li{
  padding: 5%;
}
.navbar2-WorkforceSolutions:hover .navbar2-WorkforceSolutionslist{
  display: block;
}

.navbar2-mainelementsdiv a:focus{
outline: 1px solid #0063b8;
color: #636363;
}

hr{
  margin: 0;
}
/* NAVBAR2 END */

/* SECTION-1 START */
.section1-content1{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 30%;
}
.section1-h21{
  margin-bottom: 0.5em;
  font-size: 20px;
  font-weight: 400;
}
.section1-h22{
  margin: 0.5em 0;
  font-size: 40px;
  font-weight: 300;
}
.section1-h3{
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 400;
}
.section1-button1{
  border: none;
  background-color: #0063b8;
  color: white;
  padding: 11px 19px;
  border-radius: 2px;
}
.section1-button1:hover{
  background-color: #004a8b;
}
.section1-button2{
  border: 1px solid #0063b8;
  background-color: #ffffff;
  color: #0063b8;
  padding: 11px 19px;
  border-radius: 2px;
}
.section1-button2:hover{
  background-color: #d9f5fd;
}
.section1-info{
  margin-bottom: 10px;
}
.section1-slide3-h21{
  color: white;
}
.slide3-button1{
  border: none;
background-color: white;
color: #221d19;
padding: 11px 19px;
border-radius: 2px;
}
.slide3-button1:hover{
  background-color: #f0f0f0;
  color:#6e6e6e;
}
.slide3-button2{

  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 1px solid white;
  padding: 11px 19px;
  border-radius: 2px;
  }
  .slide3-button2:hover{
    background-color: #f0f0f0;
    color:#6e6e6e;
  }
  .section1-pagination{
    position: absolute;
    bottom: 10%;
    right: 20%;
  }
  .section1-pagination1, .section1-pagination2, .section1-pagination3{
    border-radius: 1px !important;
    border: none;
  }
  .section1-pagination1:hover, .section1-pagination3:hover{
    background-color: #d9f5fd;
  }
  .section1-pauseplay{
    background-color: black;
    color: white;
  }
  .section1-pauseplay :first-child{
    font-size: .875rem;
    color: #fff;
  }
  .section1-pauseplay{
    padding: 11px 19px;
    position: absolute;
    bottom: 13%;
    right: 13%;
    border: none;
   height: 36.5px;
  }
  .section1-arrowdown{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12%;
  }

/* SECTION-1 END */

/* SECTION-2 START */


.section2-div-position{
  position: relative;
}
.section2-text{
  color: white;
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
  background-color: black;
  position: absolute;
  z-index: 999;
}
.section2-div-position:hover .section2-text, .section2-div-position:hover .section2-it{
  background-color: #293b4d;
  cursor: pointer;
}
.section2-div-position:hover .section2-image{
  filter: brightness(0.5);
  cursor: pointer;
}
.section2{
  background-color: black;
}
.section2-image{
  background: linear-gradient(147deg, #839db4, #d2d2d2 100%);
}
.section2-it{
  padding: 10px;
  background-color: black;
  position: absolute;
  z-index: 999;
  text-align: left;
}
.section2-it-text{
  color: white;

}
.section2-ul{
  list-style: none;
  display: none;
  padding: 0;
  position: absolute;
  top: 44px;
  background-color: black;
  z-index: 999;
}
.section2-ul li{
  color: white;
  text-align: left;
  color: white;
  font-size: 1em;
  font-weight: 400;
  padding: 3px;
}
.section2-div-position:hover  .section2-ul{
  display: block;
  text-align: left;
}
.section2-ul li a{
  text-decoration: none;
  color: white;
}
.section2-ul li a:hover{
  text-decoration: underline;
}
.section2-div-position:hover .arrow-down{
  transform: rotate(-180deg);
}
/* SECTION-2 END */

/* SECTION-3 START */

.section-3{
  background-color: #1d2c3b !important;
}
.section3-heading{
  font-weight: 300;
  color: white;
  font-size: 32px;
}
.section3-card{
  background-color: #33414e;
}
.section3-button{
  background-color: #00458b00;
  border: none;
  display: flex;
  margin-top: 80.4px;
}
.section3-button:hover{
  text-decoration: underline;
  color: white;
}
/* SECTION-3 END */